<%= render 'public/header_public' %>
<div class="container">
  <div class="row">
    <h2 class="ml-30 mt-5">マイページ</h2>
  </div>
  <div class="row my-3">
    <h4 class="mr-5">登録情報</h3>
    <%= link_to "編集する", "/customers/edit", class:"btn btn-success" %>
  </div>
  <div class="row my-3">
    <table class="w-100">
      <tr>
        <th style="width:20%">氏名</th>
        <td style="width:80%"><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <th style="width:20%">カナ</th>
        <td style="width:80%"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th style="width:20%">郵便番号</th>
        <td style="width:80%"><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th style="width:20%">住所</th>
        <td style="width:80%"><%= @customer.address %></td>
      </tr>
      <tr>
        <th style="width:20%">電話番号</th>
        <td style="width:80%"><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th style="width:20%">メールアドレス</th>
        <td style="width:80%"><%= @customer.email %></td>
      </tr>
    </table>
  </div>
  <div class="row my-3">
    <h4 class="col-2">配送先</h3>
    <%= link_to "一覧を見る", "/addresses", class:"btn btn-info" %>
  </div>
  <div class="row my-3">
    <h4 class="col-2">注文履歴</h3>
    <%= link_to "一覧を見る", "/orders", class:"btn btn-info" %>
  </div>
</div>
<%= render 'public/footer_public' %>