<%= render 'public/header_public' %>
<h1>マイページ</h1
<div>登録情報</div>
<%= link_to "編集する", "/", class:"btn btn-success" %>
<%= @customer.last_name %><%= @customer.first_name %>
<%= @customer.last_name_kana %><%= @customer.first_name_kana %>
<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.telephone_number %>
<%= @customer.email %>
<%= link_to "一覧を見る", "/", class:"btn btn-info" %>
<%= link_to "一覧を見る", "/", class:"btn btn-info" %>