<%= render 'admin/header_admin' %>
<div class="container">
  <div class="row">
    <h2 class="ml-30 my-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
  </div>
  <div class="row">
    <div class="col col-8">
      <div class="field row my-2">
        <label class="col-4">
          会員ID
        </label>
        <div class="col-8">
          <%= @customer.id %>
        </div>
      </div>
      <div class="field row my-2">
        <label class="col-4">
          氏名
        </label>
        <div class="col-8">
          <%= @customer.last_name %><%= @customer.first_name %>
        </div>
      </div>
      <div class="field row my-2">
        <label class="col-4">
          フリガナ
        </label>
        <div class="col-8">
          <%= @customer.last_name_kana %><%= @customer.first_name_kana %>
        </div>
      </div>
      <div class="field row my-2">
        <label class="col-4">
          郵便番号
        </label>
        <div class="col-8">
          <%= @customer.postal_code %>
        </div>
      </div>
      <div class="field row my-2">
        <label class="col-4">
          住所
        </label>
        <div class="col-8">
          <%= @customer.address %>
        </div>
      </div>
      <div class="field row my-2">
        <label class="col-4">
          電話番号
        </label>
        <div class="col-8">
          <%= @customer.telephone_number %>
        </div>
      </div>
      <div class="field row my-2">
        <label class="col-4">
          メールアドレス
        </label>
        <div class="col-8">
          <%= @customer.email %>
        </div>
      </div>
      <div class="field row my-2">
        <label class="col-4">
          会員ステータス
        </label>
        <div class="col-8">
          <% if @customer.is_active == TRUE %>有効
          <% else %>退会
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <%= link_to "   編集する   ", "/admin/customers/#{@customer.id}/edit", class:"btn btn-success mx-5" %>
    <%= link_to "  注文履歴一覧を見る  ", "/admin/customers", class:"btn btn-info mx-5" %>
  </div>
</div>