<h1>新規注文登録</h1>
<%= form_with model: [:admin, @order], local:true do |f| %>
  <%= f.text_field :customer_id %>
  <%= f.text_field :postal_code %>
  <%= f.text_field :address %>
  <%= f.text_field :name %>
  <%= f.text_field :shipping_cost %>
  <%= f.text_field :total_payment %>
  <%= f.radio_button :payment_method, "credit" %>クレジットカード<%= f.radio_button :payment_method, "bank" %>銀行振込
  <%= f.radio_button :status, "making" %>入金待ち<%= f.radio_button :status, "shipping" %>輸送中
  <%= f.submit "新規登録" %>
<% end %>