<h1>注文履歴詳細</h1>
<%= @order.customer.last_name %><%= @order.customer.first_name %>
<%= @order.created_at %>
<%= @order.postal_code %><%= @order.address %><%= @order.name %>
<%= @order.payment_method %>
<%= form_with model: [:admin, @order], local:true do |f| %>
  <%= f.select :status, [ ["製作中", :making ], ["発送中", :shipping ] ] %>
  <%= f.submit "更新" %>
<% end %>
<% @order_detail.each do |order_detail| %>
  <%= order_detail.item.name %>
  <%= order_detail.price*@TAX %>
  <%= order_detail.amount %>
  <%= order_detail.price*order_detail.amount %>
  <%= form_with model: [:admin, order_detail], local:true do |f| %>
    <%= f.select :status, [ ["製作中", :a ], ["発送中", :b ] ] %>
    <%= f.submit "更新" %>
  <% end %>
<% end %>