<h1>ジャンル一覧・追加</h1>
<%= form_with model: [:admin, @genre], local:true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "新規登録" %>
<% end %>

<% @genres.each do |genre| %>
  <%= genre.name %>
  <%#= genre.created_at.in_time_zone('Tokyo') %>
  <%= link_to "編集する", "/admin/genres/#{genre.id}/edit" %>
<% end %>