<%= render 'admin/header_admin' %>
<div class="container">
  <div class="row">
    <h2 class="ml-30 my-5">管理者ログイン</h2>
  </div>
  <div class="row w-100">
    <div class="col col-6 mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field d-flex justify-content-between mb-2">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40x20" %>
        </div>

        <div class="field d-flex justify-content-between mb-2">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password", size: "40x20" %>
        </div>

        <div class="actions text-center my-5">
          <%= f.submit "   ログイン   ", class:"btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'admin/footer_admin' %>