<%= render 'public/header_public' %>
<div class="container">
  <div class="row">
    <h2 class="ml-30 my-5">新規会員登録</h2>
  </div>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/customers/shared/error_messages", resource: resource %>
      <div class="field form-group row">
        <%= f.label :名前, class:"col-form-label col-3" %><br />
        (姓)<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"col-3" %>
        (名)<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"col-3" %>
      </div>
      <div class="field form-group row">
         <%= f.label :フリガナ, class:"col-form-label col-3" %><br />
        (セイ)<%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class:"col-3" %>
        (メイ)<%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class:"col-3" %>
      </div>
      <div class="field form-group row">
        <%= f.label :メールアドレス, class:"col-form-label col-3" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "", class:"col-3" %>
      </div>
      <div class="field form-group row">
        <%= f.label :"郵便番号(ハイフンなし)", class:"col-form-label col-3" %><br />
        <%= f.text_field :postal_code, autofocus: true, autocomplete: "", class:"col-3" %>
      </div>
      <div class="field form-group row">
        <%= f.label :住所, class:"col-form-label col-3" %><br />
        <%= f.text_area :address, autofocus: true, autocomplete: "", class:"col-6" %>
      </div>
      <div class="field form-group row">
        <%= f.label :"電話番号(ハイフンなし)", class:"col-form-label col-3" %><br />
        <%= f.telephone_field :telephone_number, autofocus: true, autocomplete: "", class:"col-3" %>
      </div>
      <div class="field form-group row">
        <%= f.label :"パスワード(6文字以上)", class:"col-form-label col-3" %>
        <%= f.password_field :password, autocomplete: "new-password", class:"col-3" %>
      </div>
      <div class="field form-group row">
        <%= f.label :"パスワード(確認用)", class:"col-form-label col-3" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-3" %>
      </div>
      <div class="actions  form-group row">
        <%= f.submit "新規登録", class:"col-3 offset-3 btn btn-success" %>
      </div>
    <% end %>
  </div>
  <div class="container mb-5">
    <h2 class="row ml-30 mt-5 mb-1">既に登録済みの方</h2>
    <div class="row mx-auto">
      <%= link_to "こちら", "/customers/sign_in" %>からログインしてください。
    </div>
  </div>
</div>
<%= render 'public/footer_public' %>