<%= render 'public/header_public' %>
<div class="container">
  <div class="row">
    <h2 class="ml-30 my-5">注文履歴詳細</h2>
  </div>
  <div class="row">注文情報</div>
  <div class="row">
    <table>
      <tr>
        <th style="width:40%">注文日</th>
        <td style="width:60%"><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td><%= @order.postal_code %><% @order.address %><% @order.name %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td><%= Order.statuses_i18n[@order.status] %></td>
      </tr>
    </table>
  </div>
  <div class="row">請求情報</div>
  <div class="row">
    <table>
      <tr>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="row">注文内容</div>
  <div class="row">
   <table>
     <thead>
       <tr>
         <th>商品</th>
         <th>単価(税込)</th>
         <th>個数</th>
         <th>小計</th>
       </tr>
     </thead>
     <tbody>
      <% sum = 0 %>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price_with_tax(order_detail.price).floor %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price_with_tax(order_detail.sum_of_price(order_detail.price, order_detail.amount)).floor %></td>
        </tr>
        <% sum = sum + order_detail.price_with_tax(order_detail.sum_of_price(order_detail.price, order_detail.amount)).to_i %>
      <% end %>
     </tbody>
   </table>
  </div>
  <div class="row">請求情報</div>
  <div class="row">
    <table>
      <tr>
        <th>商品合計</th>
        <td><%= sum %>円</td>
      </tr>
      <tr>
        <th>配送料</th>
        <td><%= Order::SHIPPING_COST %>円</td>
      </tr>
      <tr>
        <th>ご請求金額</th>
        <td><%= Order::SHIPPING_COST.to_i + sum.to_i %>円</td>
      </tr>
    </table>
  </div>
</div>
<%= render 'public/footer_public' %>