<%= render 'public/header_public' %>
<h1>商品詳細</h1>
<%= attachment_image_tag @item, :image, format: "jpeg", size: "300x300", fallback: "no_image.jpg" %>
<%= @item.name %>
<%= @item.introduction %>
<%= @item.price %>
<%= form_with model:@cart_item, local:true do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit "カートに入れる", class:"btn btnsuccess" %>
<% end %>