<%= render 'public/header_public' %>
<div class="container">
    <div class="row mx-auto my-4">
      <%= attachment_image_tag @item, :image, format: "jpeg", size: "300x300", fallback: "no_image.jpg", class:"col-5" %>
      <div class="col-5">
        <%= @item.name %></br>
        <%= @item.introduction %></br>
        ￥<%= @item.price_with_tax(@item.price) %>(税込)</br>
        <%= form_with model:@cart_item, local:true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.number_field :amount, min:1, max:100 %>
          <%= f.submit "カートに入れる", class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
</div>
<%= render 'public/footer_public' %>